<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121 -->
<Project>
  <PropertyGroup>
	<DeleteExistingFiles>true</DeleteExistingFiles>
	<ExcludeApp_Data>false</ExcludeApp_Data>
	<LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
	<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
	<LastUsedPlatform>Any CPU</LastUsedPlatform>
	<PublishProvider>FileSystem</PublishProvider>
	<PublishUrl>bin\Release\net8.0\publish\linux-arm\</PublishUrl>
	<WebPublishMethod>FileSystem</WebPublishMethod>
	<TargetFramework>net10.0</TargetFramework>
	<SelfContained>true</SelfContained>
	<RuntimeIdentifier>linux-arm</RuntimeIdentifier>
	<PublishSingleFile>true</PublishSingleFile>
	<PublishTrimmed>false</PublishTrimmed>
  </PropertyGroup>
</Project>
