<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?define ComponentRules="OneToOne"?>
  <!-- SourceDir is set from the PublishDir preprocessor variable passed by the wixproj/CI -->
  <Fragment>
    <ComponentGroup Id="GreenSwampAlpacaServerFiles">
		<Component Directory="INSTALLDIR">
			<File Source="$(var.PublishDir)\appsettings.Development.json" KeyPath="yes" />
		</Component>
		<Component Directory="INSTALLDIR">
			<File Source="$(var.PublishDir)\appsettings.json" KeyPath="yes" />
		</Component>
		<Component Directory="INSTALLDIR">
        <File Source="$(var.PublishDir)\ASCOM.Alpaca.Razor.xml" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Source="$(var.PublishDir)\ASCOM.Common.xml" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Source="$(var.PublishDir)\cio_ra.bin" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Source="$(var.PublishDir)\dotnet-tools.json" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Source="$(var.PublishDir)\GreenSwamp.Alpaca.Server.staticwebassets.endpoints.json" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Source="$(var.PublishDir)\GreenSwamp.Alpaca.Server.xml" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Source="$(var.PublishDir)\JPLEPH" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Source="$(var.PublishDir)\libnovas.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Source="$(var.PublishDir)\libsofa.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR">
        <File Source="$(var.PublishDir)\web.config" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\_content\ASCOM.Alpaca.Razor">
        <File Source="$(var.PublishDir)\wwwroot\_content\ASCOM.Alpaca.Razor\background.png" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\_content\MudBlazor">
        <File Source="$(var.PublishDir)\wwwroot\_content\MudBlazor\MudBlazor.min.css.gz" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\_content\MudBlazor">
        <File Source="$(var.PublishDir)\wwwroot\_content\MudBlazor\MudBlazor.min.js.gz" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\_content\MudBlazor">
        <File Source="$(var.PublishDir)\wwwroot\_content\MudBlazor\MudBlazor.min.js.map.gz" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\_framework">
        <File Source="$(var.PublishDir)\wwwroot\_framework\blazor.server.js.gz" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\_framework">
        <File Source="$(var.PublishDir)\wwwroot\_framework\blazor.web.js.gz" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\css">
        <File Source="$(var.PublishDir)\wwwroot\css\fonts.css.gz" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\css">
        <File Source="$(var.PublishDir)\wwwroot\css\site.css.gz" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot">
        <File Source="$(var.PublishDir)\wwwroot\favicon.ico.gz" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\fonts">
        <File Source="$(var.PublishDir)\wwwroot\fonts\MaterialSymbolsOutlined.woff2" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\fonts">
        <File Source="$(var.PublishDir)\wwwroot\fonts\Roboto-Bold.woff2" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\fonts">
        <File Source="$(var.PublishDir)\wwwroot\fonts\Roboto-Light.woff2" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\fonts">
        <File Source="$(var.PublishDir)\wwwroot\fonts\Roboto-Medium.woff2" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\fonts">
        <File Source="$(var.PublishDir)\wwwroot\fonts\Roboto-Regular.woff2" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\fonts">
        <File Source="$(var.PublishDir)\wwwroot\fonts\RobotoMono-Regular.woff2" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLDIR" Subdirectory="wwwroot\fonts">
        <File Source="$(var.PublishDir)\wwwroot\fonts\SwampWitch.ttf" KeyPath="yes" />
      </Component>
		<Component Directory="INSTALLDIR" Subdirectory="wwwroot\js">
			<File Source="$(var.PublishDir)\wwwroot\js\profileUtils.js.gz" KeyPath="yes" />
		</Component>
		<Component Directory="INSTALLDIR" Subdirectory="wwwroot\js">
			<File Source="$(var.PublishDir)\wwwroot\js\handController.js.gz" KeyPath="yes" />
		</Component>
		<Component Directory="INSTALLDIR" Subdirectory="wwwroot\js">
			<File Source="$(var.PublishDir)\wwwroot\js\fileDownload.js.gz" KeyPath="yes" />
		</Component>
		<Component Directory="INSTALLDIR" Subdirectory="wwwroot\js">
			<File Source="$(var.PublishDir)\wwwroot\js\tts.js.gz" KeyPath="yes" />
		</Component>
	</ComponentGroup>
    <Feature Id="UserApp" />
  </Fragment>
</Wix>
